<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


<style type="text/css">
    div {font-family: sans-serif;}
    a:hover {text-decoration: none; color:red;}
    a {text-decoration: none;}
</style>

<div id="page">
    <center>
        <div style="width:900px; text-align:left;">
            <div style="margin-bottom:20px;">

            <a style="float:right" href="{{ login_link }}">{{ login_text }}</a>
            <h1> What to solve next? </h1>
            {% if error %}
                Error: {{ error }}

            {% else %}
                {% if all_polls|length == 0 %}
                    No polls yet. <br />
                {% else %}
                    <h2> All polls </h2>

                    {% for poll in all_polls %}
                        <a href="/view?pkey={{ poll.key() }}"> {{ poll.title }}</a>
                        <span style="color: grey;"> @ {{ poll.created.strftime('%m/%d/%Y')}}</span>
                        {% if admin %}
                            <a style="float:right; color: red;" href="/del?pkey={{ poll.key() }}">del</a> <br />
                        {% endif %}


                        <br />
                    {% endfor %}


                {% endif %}

                {% if admin %}
                    <a style="float:right" href="/add">Add new</a> <br />
                {% endif %}

            {% endif %}
            </div>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'solvemenextappspot'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        </div>
    </center>
</div>









</body>
</html>